#map {
    height: 500px;
    width: 900px;
}
.labels {
    color: #000;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    width: 40px;     
    white-space: nowrap;
}
.labels-missing-trans {
    color: red;
}
p.object-descr {
    margin-bottom: 5px;
}
p.object-descr a {
	text-decoration: none;
	color: black;
}
p.object-descr img {
    height: 30px;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}
.detail {
    display: none;
}
.featherlight .detail {
    font-family: "Arial", sans-serif;
    text-align: center;
    font-size: large;
    display: inherit;
}
.featherlight img {
    max-height: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.featherlight .back {
    position: absolute;
    left: 5px;
    top: 0px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.nophoto {
    font-size: 30px;
    max-width: 300px;
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}
.featherlight-next {
    left: auto;
    right: 0px;
    width: 20px;
}
.featherlight-previous {
    left: 0px;
    right: auto;
    width: 20px;
}
.featherlight-next span, .featherlight-previous span {
    color: #000;
    font-size: 40px;
    line-height: 40px;
    margin-top: -20px;
    display: inline-block;
}

