{% extends "admin/base.html" %}

{% block title %}{{ title }} | Biro-71{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Biro-71</a></h1>
{% endblock %}

{% block nav-global %}
    Export by country:
    <a href="{% url 'objects-list' %}?lang=en" target="_blank">english</a> /
    <a href="{% url 'objects-list' %}?lang=ru" target="_blank">russian</a>
{% endblock %}
