{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="http://cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.css" type="text/css" rel="stylesheet" />
	<link href="http://cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />
	<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" />
</head>
<body>

    <p>
        <input type="checkbox" class="cb-control" id="cb-projects" checked="checked"> Проекты зданий &nbsp;
        <input type="checkbox" class="cb-control" id="cb-constructions" checked="checked"> Построенные объекты &nbsp;
        <input type="checkbox" class="cb-control" id="cb-photo"> С фото &nbsp;
        <span id="txt-area"></span> &nbsp;
        <a href="?lang=en">EN</a>
        <a href="?lang=ru">RU</a> &nbsp;
        <input type="checkbox" class="cb-control" id="cb-cluster" checked="checked"> Кластеры
    </p>

    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTJ-7iZ_Xewi9vBlw1V8fyN2HhBbVVlk0"></script>
    <script src="{% static 'js/markerwithlabel.js' %}"></script>
    <script src="{% static 'js/markerclusterer.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js"></script>
	<script src="{% static 'js/featherlight.gallery.js' %}"></script>

    <script>
        var cities = {{ cities|safe }};
    </script>
    <script src="{% static 'js/objects-map.js' %}"></script>

</body>
</html>
