{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>By country</title>
    <meta charset="utf-8">
</head>
<body>

    {% for country in countries %}

        <h4>{{ country.name }}</h4>

        {% for o in country.objects  %}
            {{ o }}<br />    
        {% endfor %}

    {% endfor %}

</body>
</html>
